<ion-view view-title="Alta Dispositivo">
  
  <ion-nav-bar class="bar-positive">
      <ion-nav-buttons side="left">
      <button on-tap="di.back()" class="button button-icon icon ion-ios-arrow-back"></button>	 </ion-nav-buttons>
		
		
  </ion-nav-bar>
  
  <ion-content>
   
    
    
    
   
	<div class="list">
	
  <label class="item item-input item-floating-label ">
    <span class="input-label">Nombre</span>
    <input ng-model="di.nombre" type="text" placeholder="Nombre">
  </label>
  <label class="item item-input item-floating-label">
    <span class="input-label">Descripcion</span>
    <input ng-model="di.descripcion" type="text" placeholder="Descripcion">
  </label>

  <span class="input-label">Imagen</span>
	<a class="item item-thumbnail-left" ng-click="di.seleccionarImagen()">
		  <img ng-src="{{di.urlImagen}}">
		  <h2>{{di.descImagen}}</h2>
	</a>

	<!--
    <input ng-model="di.urlImagen" type="text" placeholder="Imagen">
	-->
	
   <label class="item item-input item-select">
    <div class="input-label">
      Espacio
    </div>
    <select ng-model="di.idEspacio" >
	    <option value="">Seleccione</option>
      <option ng-repeat="es in di.lista" value="{{es.id}}">{{es.descripcion}}</option>
      
    </select>
  </label>

  
  
   <a  class="item item-icon-right" ng-click="di.abrirModalModulo()">
      <p>{{di.moduloSelect.idModuloTipo || 'Seleccione'}}<br/><span style="color:#A4A4A4">
        {{di.moduloSelect.descripcion || 'Modulo'}}
      </span></p> 
      
      <i class="icon ion-ios-arrow-right"></i>
    </a>
    
     <a  class="item item-icon-right" ng-click="di.abrirModalEspacio()">
      <p>{{di.espacioSelect.descripcion || 'Seleccione Espacio'}}<br/><span style="color:#A4A4A4">
        
      </span></p> 
      
      <i class="icon ion-ios-arrow-right"></i>
    </a>
  
    <a ng-if="di.moduloSelect && di.moduloSelect.idModuloTipo == 'IR'" class="item item-icon-right" ng-click="ma.abrirModalTipoIr()">
      <p>{{di.TipoIrSelect || 'Seleccione Tipo IR'}}  <br/><span style="color:#A4A4A4">
        
      </span></p> 
      
      <i class="icon ion-ios-arrow-right"></i>
    </a>
    
      <a ng-if="di.moduloSelect && di.moduloSelect.idModuloTipo == 'IR'" class="item item-icon-right" ng-click="ma.abrirModalMarcaIr()">
      <p>{{di.MarcaIrSelect || 'Seleccione Marca '}}  <br/><span style="color:#A4A4A4">
        
      </span></p> 
      
      <i class="icon ion-ios-arrow-right"></i>
    </a>
    
      <a ng-if="di.moduloSelect && di.moduloSelect.idModuloTipo == 'IR'" class="item item-icon-right" ng-click="ma.abrirModalModeloIr()">
      <p>{{di.ModeloIrSelect || 'Seleccione Modelo'}}  <br/><span style="color:#A4A4A4">
        
      </span></p> 
      
      <i class="icon ion-ios-arrow-right"></i>
    </a>


  <label class="item item-input item-select">
    <div class="input-label">
      Entrada
    </div>
    <select ng-model="di.entradaModulo" >
      <option value="">Seleccione</option>
      <option value="1">1</option>
      <option value="2">2</option>
    </select>
  </label>
 
</div>
	
	 
	<md-button ng-click="di.alta()" class="md-raised">Guardar</md-button>
	
  </ion-content>
  
   <script id="dispositivoAlta/seleccionarModulo.html" type="text/ng-template">
 <ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Seleccione un Módulo </h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
      
      
   <div class="list">
		<a ng-repeat="item in listaModulos" class="item " ng-click="seleccionarModulo(item)">
		 <h2>{{item.descripcion}}</h2> 
          <span class="item-note">
      {{item.idModuloTipo}}
    </span>
		</a>
	</div>
  </ion-content>
</ion-modal-view>
</script>

<script id="dispositivoAlta/seleccionarEspacio.html" type="text/ng-template">
 <ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Seleccione un Espacio </h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
      
      
   <div class="list">
		<a ng-repeat="item in listaEspacios" class="item " ng-click="seleccionarEspacio(item)">
		 <h2>{{item.descripcion}}</h2> 
         
    </span>
		</a>
	</div>
  </ion-content>
</ion-modal-view>
</script>
  
</ion-view>
 
